<h1>Travel Bucket List</h1>

    <form class="country" action="/countries/id" method="post">
      <label for="input country">Enter a Country</label><br>
      <input type="text" name="" value="">
      <input type="submit" value="find">
    </form>

    <form class="city" action="/cities/id" method="post">
      <label for="input city">Enter a City</label><br>
      <input type="text" name="" value="">
      <input type="submit" value="find">
    </form>
