<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav>
      <div>
        <li><a href="" target="_self">Visited</a></li>
        <li><a href="" target="_self">Create trip</a></li>
      </div>
    </nav>
      <%= yield %>
  </body>
</html>
