<hr>
<h3>The minimalists app</h3>

<strong><h4>Instructions</h4></strong>

<ul>
  <li>Select or create a country from Countries.</li>
  <li>Then select or create a city from Cities, check if it is visited/not visited.</li>
  <li>If you can't think of a country to visit, discover one (will open a new window from a "trusted site".)</li>
  <li>Countries and Cities can be edited/deleted by clicking on the name.</li>
</ul>
