<h3>The minimalists app</h3>

<strong><h4>Instructions</h4></strong>

<ul>
  <li>Select or create a country from Countries</li>
  <li>Then select or create a city from Cities</li>
  <li>If you can't think of a country to visit, Discover one</li>
</ul>
