<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Travel Bucket List </title>
    <link rel="stylesheet" type="text/css" href="/layout.css">
  </head>
  <h1>Travel Bucket List</h1>
  <body>
    <nav>
      <ul>
      <li>
        <strong><a href="/countries">Countries</a></strong>
      </li>
      <li>
        <strong><a href="/cities">Cities</a></strong>
      </li>
      <li>
        <strong><a href="https://www.youtube.com/watch?v=5pOFKmk7ytU&t=12s" target="_blank">Discover countries</a></strong>
      </li>
    </nav>

    <section>
      <%= yield %>
    </section>
  </body>
</html>
