<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Travel Bucket List</title>
    <link rel="stylesheet" href="/styles/nav.css">
  </head>
  <body>
    <ul>


</ul>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
