<h1>Create a place to visit</h1>

 <form method="post" action="/visit/new">

 <div>
   <label for="country">Select Country:</label>
   <select name="country_id" id="Country">
    <% for country in @countries %>
     <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
   </select>
 </div>

 <div>
   <label for="City">City:</label>
   <input type="text" name="name" id=""/>
 </div>

 <div>
   <input type="submit" value="Create Visit">
 </div>

</div>

</form>
