<h1>Cities</h1>

<ul>
  <li>
   <strong><a href="/cities/new">Create new city</a></strong>
  </li>
  <li>
    <strong><a href="/cities/visited">Visited cities</a></strong>
  </li>
  <li>
    <strong><a href="/cities/notvisited">Not visited cities</a></strong>
  </li>
</ul>

<hr>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Country</th>
    <th></th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td><strong><a href="/cities/<%= city.id %>"><%= city.name %></a></td><strong>
    <td></td>
    <td><strong><%= city.country.name %></td></strong>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>
