<hr>
<h1> Create new city</h1>

  <form method="post" action="/cities">

    <strong><label for="name">City name:</label></strong>
    <input type="text" name="name" id="name"/><br>

    <strong><label for="country"> Country name:</label></strong>
    <select name="country_id" id="country_id">
      <% @countries.each do |country| %>
       <option value="<%= country.id %>"><%= country.name %></option>
       <% end %>
    </select>
    <br>
    <strong><input type="radio" name="visited" value="true" checked/>Visited city <br>
    <strong><input type="radio" name="visited" value="false"/>Not visited city <br>

    <input type="submit" value="Add City"/>
  </form>
