<form method="post" action="/countries/<%= @country.id %>">

  <label for="name">Country Name:</label>
  <input type="text" name="name" value="<%= @country.name %>"/><br>

  <br>

  <input type="submit" value="Edit Country">

</form>
</section>
