<hr>

<h1>Create new country</h1>

<form method="post" action="/countries">

  <label for="country"> Country name:</label>
  <input type="text" name="name" id="name">
  <br>

  <input type="submit" value="Add Country"/>
</form>
