<h1><%= @country.name %></h1>

  <h3>Country: <%= @country.name %>

  <p><a href="/cities/<%= @country.id %>/edit" >Edit Country</a></p>

  <form action="/cities/<%= @country.id %>/delete" method="post">
    <input type="submit" value="Delete City"/>
  </form>

  <h4><a href="/countries">All Countries</a></h4>
