

  <h2>Country: <%= @country.name %></h2>

  <p><a href="/countries/<%= @country.id %>/edit" >Edit Country</a></p>

  <form action="/countries/<%= @country.id %>/delete" method="post">
    <input type="submit" value="Delete Country"/>
  </form>

  <h4><a href="/countries">All Countries</a></h4>
